/* popular tags & users search */
.searchtp {
  /* margin-left: 10px auto ; */
  padding: 0%;
  height: 3rem;
  width: 28%;
  border-radius: 20px;
}
.activeTopNav {
  background-image: linear-gradient(
    to bottom,
    rgba(50, 300, 200, 0.1),
    #ffc0cb3a
  );
  color: blue !important;
  border-radius: 5px;
}
.activeLeftNav {
  background-image: linear-gradient(
    to right,
    rgba(50, 300, 200, 0.1),
    rgba(50, 400, 150, 5)
  );
  font-weight: 600;
  font-size: x-large;
}
.searchb {
  margin: 0%;
  margin-left: 0.5%;
  padding: 0.5% 1%;
  height: 45px;
  border-radius: 10px;
}
.searchb:hover {
  background-color: aliceblue;
  box-shadow: 1px 1px 1px 2px dodgerblue;
}
/* in app.js */
.sticky-top .navbar-nav li {
  letter-spacing: 1px;
}
.sticky-top .navbar-nav li a {
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
  .sticky-top .navbar-nav li {
    margin-top: 5px;
  }
  .sticky-top .navbar-nav li a svg {
    margin-right: 4px;
  }
  .sticky-top .navbar-nav li:last-child {
    margin-bottom: 5px;
  }
}
/* home.jsx */
#sideLeftNav {
  position: sticky;
  top: 4.1rem;
  text-align: right;
  height: min-content;
}
.extraLink {
  text-decoration: underline;
  color: dodgerblue;
}
.extraLink:hover {
  cursor: pointer;
  color: #0054d2;
}
@media only screen and (max-width: 576px) {
  #sideLeftNav {
    display: none;
  }
}
