/* global css */
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: dodgerblue;
  text-decoration: none;
}

.skyBlueHr {
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  margin-bottom: 25px;
}

/* in app.js */
.activeTopNav {
  background-image: linear-gradient(to top, rgba(50, 300, 200, 0.1), #ecd3d710);
  color: rgb(253, 247, 226);
  border-radius: 5px;
}
.sticky-top .navbar-nav li {
  letter-spacing: 1px;
}
.sticky-top .navbar-nav a:hover {
  color: rgba(50, 400, 150, 0.9);
}
@media only screen and (max-width: 576px) {
  .sticky-top .navbar-nav li {
    margin-top: 5px;
  }
  .sticky-top .navbar-nav li a svg {
    margin-right: 4px;
  }
  .sticky-top .navbar-nav li:last-child {
    margin-bottom: 5px;
  }
}

/* home.jsx & canvas-nav */
#sideLeftNav li:has(a.active),
#sideLeftNav li:has(.extraLink.active),
#canvasNav li:has(a.active) {
  background-image: linear-gradient(
    to right,
    rgba(50, 300, 200, 0.1),
    rgba(50, 400, 150, 0.9)
  );
}
#sideLeftNav li a,
#canvasNav li a {
  display: block;
}
#sideLeftNav {
  position: sticky;
  top: 4.1rem;
  height: min-content;
}
#sideLeftNav li,
#canvasNav li {
  padding-inline: 0;
  font-family: serif;
  font-size: 1.1em !important;
  text-shadow: 0.02em 0.02em black;
}
@media only screen and (max-width: 576px) {
  #sideLeftNav {
    display: none;
  }
  .btn-group label {
    font-size: small;
  }
  .btn-group {
    overflow-x: auto;
    width: 100%;
  }
}
.extraLink {
  color: dodgerblue;
}
.extraLink:hover {
  cursor: pointer;
  color: #0054d2;
}

/* tags */
.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  font-size: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:has(#inTagsTag) .card-body .card-text {
  max-height: 190px;
}
.card:has(#inTagsTag):hover {
  transform: scale(1.13);
  cursor: pointer;
}

/* allQuestions */
.limit-buttons [data-limit].active {
  background-color: #0d6efd;
  color: aliceblue;
}
