/* all css */
*{
    box-sizing: border-box
}
/* signup css */
.signupcon{
  margin: 0px !important;
  padding: 0px !important;
  width: 100vw !important;
  display: inline-flex !important;
  justify-content: center !important;
}
#createdetail{
  box-shadow: 2% !important;
}
#createotp{
  margin-top: 2%;
  display: none;
}
#createemail,#createdname,#createpassword,#createname,#otp {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}
#createemail:focus, #createdname:focus, #createpassword:focus, #createname:focus, #otp:focus {
  background-color: #ddd;
  border-radius: 6px;
  outline: none;
}
.signuphr {
  border: 1px solid #1e90ff;
  background-color : #1e90ff;
  margin-bottom: 25px ;
}
.signuphr:hover {
  border: 1px solid black;
  background-color : black;
  margin-bottom: 25px ;
}
.registerbtn {
  background-color:black;
  color: white;
  padding: 16px 20px;
  margin: 5px 0 0px 0;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover, .registerbtn:focus {
  opacity:1;
  background-color: #1e90ff;
}
/* Login css */
.forgotpasslink{
cursor: pointer;
}
.logincon{
margin: 0px !important;
margin-top: 2% !important;
padding: 0px !important;
width: 100vw !important;
display: inline-flex !important;
justify-content: center !important;
}
#logindetail{
box-shadow: 2% black !important;
}
#loginotp{ 
display: none;
}
#loginpass{
display: none;
}
#email,#password,#otpemail,#otplogin,#newpassword,#confirmpassword {
width: 100%;
padding: 15px;
margin: 5px 0 5px 0;
display: inline-block;
border: none;
border-radius: 10px;
background: #f1f1f1;
}
#email:focus, #password:focus, #otpemail:focus, #otplogin:focus, #newpassword:focus, #confirmpassword:focus {
background-color: #ddd;
border-radius: 6px;
outline: none;
}
.loginphr {
border: 1px solid #1e90ff;
background-color : #1e90ff;
margin-bottom: 25px ;
}
.loginhr:hover {
border: 1px solid black;
background-color : black;
margin-bottom: 25px ;
}
.loginbtn {
background-color: black;
color: white;
padding: 16px 20px;
margin: 5px 0 0px 0;
border-radius: 7px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}
.submitnpass{
background-color: black;
color: white;
padding: 16px 20px;
margin: 5px 0 0px 0;
border-radius: 7px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}
.submitnpass:hover , .submitnpass:focus{
opacity:1;
background-color:  #5bca45;
color: black;
font-weight: 900;
}
.cancellogbtn {
color: black;
padding: 16px 20px;
margin: 5px 0 0px 0;
border-radius: 7px;
border: none;
cursor: pointer;
font-weight: 700;
opacity: 0.9;
}
.loginbtn:hover , .loginbtn:focus  {
opacity:1;
color: #ddd;
background-color:  #1e90ff;
font-weight: 900;
}
.cancellogbtn:hover , .cancellogbtn:focus  {
opacity:1;
color: whitesmoke;
background-color: #4392e2;
}
.forgotpasslink {
color: #0e73d8;
text-align: center;
margin: 2%;
font-weight: 700;
font-size: 1.8rem;
font-family:'Franklin Gothic Medium','poppins', 'Arial Narrow', Arial, sans-serif;
}
.forgotpasslink:hover {
color: navy;
}
/* question css */
a {
  color: dodgerblue;
}
.qhr{
  border: 1px solid grey;
}
/* footer */
.socialicon, .fnav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.socialicon li, .fnav li {
  list-style: none;
}
.ficon{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.ficon:hover {
  transform: translateY(-10px);
}
.fnav h6:hover{
  color: indigo;
}
.fnav h6 {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.fnav h6:hover{
  opacity: 1;
}
.fline{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}
.likebtn:hover {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn:focus {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn{
  border-radius: 15% 15% 15% 15%;
}
.postans:focus{
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.postans:hover{
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.answersec{
  border-radius: 0.6rem;
  padding: .8rem 0rem 1.2rem 0rem;
  width: 92%;
  background-color: #d3e3f3;
}
.qla{
  padding: .1rem .4rem;
  display: inline-block;
  margin: 6px;
  font-family:cursive;
  font-weight:'600';
  /* background-color: rgb(167, 241, 217); */
  color: #f1f1f1;
  border-radius: 2rem;
  text-align: center;
  border: .1rem solid skyblue;
}
.mainqdiv{
  margin: .4rem;
  width: 73%;
  display: inline-block;
}
.maintagdiv{
  margin: .1rem;
  width: 41%;
  display: inline-block;
}
.maindnamediv{
  margin: .1rem;
  width: 18%;
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .maindnamediv {
    width: 20%;
  }
}
@media only screen and (max-width: 670px) {
  .maindnamediv {
    width: 46%;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 470px) {
  .maintagdiv {
    width: 90%;
  }
  .mainqdiv {
    width: 96%;
  }
}