/* changes required */
*{
    box-sizing: border-box
}
.headq{
  border: 1px solid grey;
  padding-top: 0px;
}
.headq input{
  display: inline-block;
}
.headq h2{
  margin-top: 0%;
  margin-bottom: 0%;
}
.searchb{
  margin-top: 0%;
  padding: 0.5%;
  border-radius: 10px;
}
.questions {
  /* padding: 16px; */
  border: 1px solid grey;
  display: block;
  border-radius: 10px;
  margin: 1% 0% 0% 0%;
  padding: 0%;
  background-color:whitesmoke;
}
.tqhead{
  margin: 1%;
}

/* Full-width input fields */
#searchq, #answer {
  width: 60% ;  
  padding: 10px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: 1px solid grey ;
  border-radius: 20px;
  /* background: white; */
}

#searchq:focus, #answer:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 0px;
}

/* Overwrite default styles of hr */
.loginhr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#liked {
  display: none;
}