.profileContent label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.profileContent h2,
.profileContent h3,
.profileContent h4 {
  margin: 0%;
  font-family: sans-serif;
  font-weight: bold;
  word-break: break-word;
}

#profile-tabs-bar a.customActive {
  color: #48cb2e;
  background: rgb(33, 37, 41);
  padding: 4px;
}
#profile-tabs-bar {
  padding-top: 60px !important;
  z-index: 101;
}
