.likebtn:hover {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn:focus {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn {
  border-radius: 15% 15% 15% 15%;
}
.postans:focus {
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.postans:hover {
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.answersec {
  border-radius: 0.6rem;
  padding: 0.8rem 0rem 1.2rem 0rem;
  width: 92%;
  background-color: #d3e3f3;
}
.qla {
  padding: 0.1rem 0.4rem;
  display: inline-block;
  margin: 6px;
  font-family: cursive;
  font-weight: "600";
  text-shadow: "0.02em 0.08em black";
  /* background-color: rgb(167, 241, 217); */
  color: #f1f1f1;
  border-radius: 2rem;
  text-align: center;
  border: 0.1rem solid skyblue;
}
.boxTitleWrapper {
  margin: 0.4rem;
  width: 73%;
  display: inline-block;
}
.boxTagWrapper {
  margin: 0.1rem;
  width: 41%;
  display: inline-block;
}
.boxDNameWrapper {
  margin: 0.1rem;
  width: 18%;
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .boxDNameWrapper {
    width: 20%;
  }
}
@media only screen and (max-width: 670px) {
  .boxDNameWrapper {
    width: 46%;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 470px) {
  .boxTagWrapper {
    width: 90%;
  }
  .boxTitleWrapper {
    width: 96%;
  }
}

#askTagsWrapper {
  border: 1px solid #ccc;
  min-height: 42px;
}
#askTagsWrapper div {
  display: inline-block;
  background-color: #0e73d8;
  color: #fff;
  border-radius: 25px;
  padding: 1px 9px;
  margin: 5px 1px;
}
#askTagsWrapper div span {
  color: red;
  margin-inline: 5px;
}
#askTagsWrapper div span:hover {
  cursor: pointer;
}
.ask form input,
.ask form textarea {
  padding-inline: 5px;
  width: 96%;
}
.submitFormBtn:hover {
  color: pink !important;
}
.submitFormBtn:focus {
  color: pink !important;
}
a[target="_blank"]::after {
  content: "" / "opens in new tab/window";
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
}
