@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.spinner {
  text-align: center;
  display: inline-block;
  margin-top: 1%;
  height: 50px;
  width: 50px;
  border: 2px dashed;
  border-color: black white red blue;
  border-radius: 50%;
  animation: spin 1.54s infinite;
}
.spinnerdiv {
  text-align: center;
}
