/* global css */
* {
  box-sizing: border-box;
}
/* signup css */
.signupcon {
  margin: 0px !important;
  padding: 0px !important;
  width: 100vw !important;
  display: inline-flex !important;
  justify-content: center !important;
}
#createdetail {
  box-shadow: 2% !important;
}
#createemail,
#createdname,
#createpassword,
#createname,
#otp {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}
#createemail:focus,
#createdname:focus,
#createpassword:focus,
#createname:focus,
#otp:focus {
  background-color: #ddd;
  border-radius: 6px;
  outline: none;
}
.signuphr {
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  margin-bottom: 25px;
}
.signuphr:hover {
  border: 1px solid black;
  background-color: black;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 5px 0 0px 0;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover,
.registerbtn:focus {
  opacity: 1;
  background-color: #1e90ff;
}
/* Login css */
.logincon {
  margin: 0px !important;
  margin-top: 2% !important;
  padding: 0px !important;
  width: 100vw !important;
  display: inline-flex !important;
  justify-content: center !important;
}
#logindetail {
  box-shadow: 2% black !important;
}
#email,
#password,
#otplogin,
#newpassword,
#confirmpassword {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}
#email:focus,
#password:focus,
#otpemail:focus,
#otplogin:focus,
#newpassword:focus,
#confirmpassword:focus {
  background-color: #ddd;
  border-radius: 6px;
  outline: none;
}
.loginphr {
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  margin-bottom: 25px;
}
.loginhr:hover {
  border: 1px solid black;
  background-color: black;
  margin-bottom: 25px;
}
.loginBtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 5px 0 0 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.loginBtn:hover,
.loginBtn:focus {
  opacity: 1;
  color: #ddd;
  background-color: #1e90ff;
  font-weight: 900;
}
.updateBtn:hover,
.updateBtn:focus {
  background-color: #48cb2e;
  color: black;
}
.cancelBtn {
  background-color: #0e73d8;
}
.cancelBtn:hover,
.cancelBtn:focus {
  background-color: #914a21;
  color: black;
}
.forgotPasswordLink {
  color: #0e73d8;
  text-align: center;
  margin: 2%;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "poppins", "Arial Narrow", Arial,
    sans-serif;
}
.forgotPasswordLink:hover {
  color: navy;
}
/* question css */
a {
  color: dodgerblue;
}
.qhr {
  border: 1px solid grey;
}
/* footer */
.socialicon,
.fnav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.socialicon li,
.fnav li {
  list-style: none;
}
.ficon {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.ficon:hover {
  transform: translateY(-10px);
}
.fnav h6:hover {
  color: indigo;
}
.fnav h6 {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.fnav h6:hover {
  opacity: 1;
}
.fline {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}
.likebtn:hover {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn:focus {
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.likebtn {
  border-radius: 15% 15% 15% 15%;
}
.postans:focus {
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.postans:hover {
  box-shadow: 1px 1px 1px 1px #0e73d8;
}
.answersec {
  border-radius: 0.6rem;
  padding: 0.8rem 0rem 1.2rem 0rem;
  width: 92%;
  background-color: #d3e3f3;
}
.qla {
  padding: 0.1rem 0.4rem;
  display: inline-block;
  margin: 6px;
  font-family: cursive;
  font-weight: "600";
  /* background-color: rgb(167, 241, 217); */
  color: #f1f1f1;
  border-radius: 2rem;
  text-align: center;
  border: 0.1rem solid skyblue;
}
.mainqdiv {
  margin: 0.4rem;
  width: 73%;
  display: inline-block;
}
.maintagdiv {
  margin: 0.1rem;
  width: 41%;
  display: inline-block;
}
.maindnamediv {
  margin: 0.1rem;
  width: 18%;
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .maindnamediv {
    width: 20%;
  }
}
@media only screen and (max-width: 670px) {
  .maindnamediv {
    width: 46%;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 470px) {
  .maintagdiv {
    width: 90%;
  }
  .mainqdiv {
    width: 96%;
  }
}

#askTagsWrapper {
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 3px;
}
#askTagsWrapper div {
  display: inline-block;
  background-color: #0e73d8;
  color: #fff;
  border-radius: 25px;
  padding: 1px 9px;
  margin: 5px 1px;
}
#askTagsWrapper div span {
  color: red;
  margin-inline: 5px;
}
#askTagsWrapper div span:hover {
  cursor: pointer;
}
.ask form input,
.ask form textarea {
  padding-inline: 5px;
  width: 96%;
}
.submitFormBtn:hover {
  color: pink !important;
}
.submitFormBtn:focus {
  color: pink !important;
}
a[target="_blank"]::after {
  content: "" / "opens in new tab/window";
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
}
